<div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
    <div class="sort-select-wrapper w-50">
        <select id="sort-selector"
            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to
                low)
            </option>
            <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>
                Name (A-Z)</option>
            <option value="title_desc" {% if current_sorting == 'Title_desc' %}selected{% endif %}>Name (Z-A)
            </option>
        </select>
    </div>
</div>

<!-- sort select is on top on mobile, and first for medium + screens  -->
<div class="col-12 col-md-6 order-md-first">
    <p class="text-muted mt-3 text-center text-md-left">
        <!-- length counts number of products, search term if found is returned -->
        {{ products|length }} Products{% if search_term %} found for
        <strong>"{{ search_term }}"</strong>{% endif %}
    </p>
</div>