{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container wow fadeIn">

    <h2 class="my-5 h2 text-center">Payment</h2>

    <div class="row">

        <div class="col-md-12 mb-4">
            <div class="card">

                <div class="Box-root Box-background--offset Flex-flex Flex-alignItems--flexStart Flex-justifyContent--center"
                    style="min-height: 500px;">
                    <div dir="ltr" class="PaymentElement-demo Box-root Margin-vertical--64 Padding-all--12"
                        style="max-width: 490px; flex-basis: 100%;">
                        <div class="StripeElement">
                            <div class="__PrivateStripeElement"
                                style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                <iframe name="__privateStripeFrame12215" frameborder="0" allowtransparency="true"
                                    scrolling="no" allow="payment *"
                                    src="https://js.stripe.com/v3/elements-inner-payment-91a2f3e607343e9a0a45b066570a987a.html#locale=en&amp;wait=false&amp;rtl=false&amp;publicOptions[business][name]=Stripe+Payment+Element+Demo&amp;componentName=payment&amp;keyMode=test&amp;apiKey=pk_test_Sds05L2renhqjHCunKB9i5i2&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fpayments%2Fpayment-element&amp;controllerId=__privateStripeController12210"
                                    title="Secure payment input frame"
                                    style="border: none !important; margin: -4px; padding: 0px !important; width: calc(100% + 8px); min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; height: 303.344px; transition: height 0.35s ease 0s;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block extra_scripts %}

<script src="https://js.stripe.com/v3/"></script>
<script nonce="">
    // Create a Stripe client.
    var stripe = Stripe('{{STRIPE_PUBLIC_KEY}}');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {
        style: style
    });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('stripe-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('stripe-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }

    var currentCardForm = $('.current-card-form');
    var newCardForm = $('.new-card-form');
    var use_default_card = document.querySelector("input[name=use_default_card]");
    use_default_card.addEventListener('change', function () {
        if (this.checked) {
            newCardForm.hide();
            currentCardForm.show()
        } else {
            newCardForm.show();
            currentCardForm.hide()
        }
    })
</script>

{% endblock extra_scripts %}