{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total price</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for order_item in object.items.all %}
                          <tr>
                            <th scope="row"> {{ forloop.counter }}</th>
                            <td>{{order_item.item.title}}</td>
                            <td>€{{order_item.item.price}}</td>
                            <td>
                                <a href="{% url 'reduce_quantity' order_item.item.slug %}"><i class="fas fa-minus-circle mr-2"></i></a> 
                                {{order_item.quantity}} 
                                <a href="{% url 'increase_quantity' order_item.item.slug %}"><i class="ml-2 fas fa-plus-circle"></i></a>
                            </td>
                            <td>€{{order_item.get_total_item_price }}</td>
                          </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Your cart is empty</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="{% url 'products' %}" class="btn btn-warning"> Find a turtle</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if object.get_total %}
                        <tr>
                            <td colspan="4"><strong>Order Total</strong></td>
                            <td>€{{object.get_total}}</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="" class="btn btn-success">Checkout</a>
                                <a href="{% url 'products' %}" class="btn btn-warning"> Find a turtle</a>
                            </td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                  </div>
                {% if basket_items %}
                {{ basket_items }}
                {% endif %}
            </div>  
        </div>
    </div>
{% endblock %}