{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">

        <!-- col 1: product image  -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.title }}">
                {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}logo.png" alt="The Ridley Me this logo">
                {% endif %}
            </div>
        </div>

        <!-- product info for sale items  -->

        {% if not product.turtle.sponsored_status %}

        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.title }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                <p class="mt-3">Description: <br> {{ product.description }}</p>

                {% if product.turtle %}
                <p class="mb-0">ID: {{product.turtle.turtle_id}}</p>
                <p class="mb-0">Tagged in: {{product.turtle.get_tagged_in_display}}</p>
                {% endif %}

                <!-- add item to basket  -->

                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <!-- form is a single row with two columns  -->
                    <div class="form-row">

                        {% if not product.turtle %}

                        <!-- col 1 = quantity input  -->
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <!-- These IDs are for the javascript  -->
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">

                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% else %}

                        <input class="form-control qty_input" type="number" readonly name="quantity" value=1
                            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">


                        {% endif %}
                        <div>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_product' product.slug %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_product' product.slug %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>

                        <!-- col 2 = submit button + return shopping button -->
                        <div class="col">
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5"
                                value="Add to Basket">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Browse all products</span>
                            </a>

                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>

        {% else %}
        <!-- SPONSORED TURTLE DETAILS PAGE  -->

        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h4 class="mb-0 font-weight-bolder">{{ product.title }}</h4>
                <br>
                <p class="mb-0">Species: {{ product.turtle.get_species_display }}</p>
                <p class="mb-0">Name: {{ product.turtle.name }}</p>
                <p class="mt-3">Description: <br> {{ product.description }}</p>
                <p class="mb-0">ID: {{product.turtle.turtle_id}}</p>
                <p class="mb-0">Tagged in: {{product.turtle.get_tagged_in_display}}</p>
            </div>
            <div>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.slug %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.slug %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'orders/includes/quantity_input_script.html' %}
{% endblock %}