{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="colmy-auto">
            <h1 class="display-4 logo-font text-black">Uh oh, something went wrong! We couldn't find your page. 404
                error.</h1>
            <h2 class="display-4">Head back to the <a href="{% url 'home'%}"">home page</a></h2>
        </div>
    </div>
</div>
{% endblock %}