{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">About</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>What We Do</h3>
            <p> Ridley Me This is a non profit organisation looking to helping the conservation of sea turtles.
                All proceeds are donated to different turtle organisations helping to conserve, protect and breed the 7
                different species of sea turtle worldwide
                With every purchase you make our profits go to these companies. We are a small team and are all
                passionate about wildlife and conservation.
                We strive to educate people first and foremost, and welcome any and all questions you may have.
            </p>
            <h3>How You Can Help</h3>
            <p>
                There are a number of ways you can help, suitable for all ages and lifestyles.
            </p>
            <ul>
                <li>Turtle sponsorships make great gifts! For one year that turtle is allocated to you and you can keep
                    up to date with their whereabouts and give it any name of your choosing.</li>
                <li>Browse our merchandise - these make great gifts for yourself and others. All products are handmade
                    locally at a reduced price for us especially.</li>
                <li>If you have it to spare, direct donations are so helpful to us and very appreciated. The full amount
                    of this goes towards the turtles.</li>
                <li>If you're not in a position to spend money, don't you worry we've got you covered! Head over to our
                    learn more page <a href="{% url 'learn' %}">here</a> to read up on ways you can help sea turtles and
                    other wild life without spending a cent</li>
            </ul>

        </div>
    </div>
</div>


{% endblock %}