{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Learn more</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>
                    <p>Read up on the 7 different types of sea turtle <a target="_blank"
                            href="https://hartnetl.github.io/ms1-turtley-awesome/info.html">here</a> or <a
                            target="_blank" href="https://www.seeturtles.org/sea-turtle-species">here</a></p>
                </li>
                <li>
                    Follow <a
                        href="https://connectedclothingcompany.com/blogs/the-connected-blog/ways-you-can-help-save-sea-turtles"
                        target="_blank">these 10 tips</a> to living a more eco friendly life
                    <ol>
                        <li> Say NO to plastics! Sea turtles and other marine animals often mistake plastic as food. It
                            is estimated that more than 100 million marine animals die each year from ingesting or
                            getting entangled in plastic. Invest in reusable bags, bottles, and straws to help eliminate
                            waste.</li>
                        <li>Reduce your carbon footprint. Climate change impacts coral reefs, nesting beaches, affects
                            male-to-female sex ratios of hatchlings, and more. Learn 5 ways to reduce your carbon
                            footprint.</li>
                        <li>Choose responsibly caught seafood. Sea turtles often become untangled in commercial fishing
                            methods like trawling, longlines, and gillnets. Check out the Monterey Bay Aquarium’s
                            Seafood Watch (also available as an app) to find turtle-friendly seafood options!</li>
                        <li>Leave only footprints. When you visit the beach, don’t forget to look around and pick up
                            everything before you leave. Things like beach furniture, sandcastles, and holes can create
                            difficult obstacles for a nesting sea turtle and could even cause death. Leave the beach
                            clean and clear for all wildlife.</li>
                        <li>Volunteer! There are countless ways that you can volunteer your time to make a difference
                            for sea turtles. Organize or attend a clean-up day - even if you don’t live near a beach,
                            parks are important too! If in your area, join a sea turtle nesting patrol to help
                            researchers determine nesting data. Most importantly, talk to anyone and everyone about ways
                            they can help save sea turtles every day.</li>
                        <li>Minimize beach lighting. The moon guides nesting sea turtles and hatchlings, so flashlights
                            or bright lights at beach houses can disorient turtles. Turn off exterior lighting or switch
                            to sea turtle friendly fixtures. When walking on the beach, place a red filter over your
                            flashlight or invest in a red-light flashlight.</li>
                        <li>Don’t disturb nesting females, nests, or hatchlings. We totally get it, seeing a sea turtle
                            can be an exciting experience. Turtles can get easily spooked when starting to nest and may
                            return back to sea without nesting, also known as a “false crawl”. Keep your distance from
                            sea turtles and nests to ensure a safe and stress-free experience for everyone.</li>
                        <li>Hold the balloons! Celebrations can be just as fun without balloons, and they aren’t much
                            fun when they come back down. Helium balloons can travel long distances and can entangle
                            land and marine animals. Skip the balloons and check out some eco-friendly alternatives from
                            Balloons Blow.</li>
                        <li>Stay alert when boating. Sea turtles are air breathing reptiles, so they need to come up to
                            the surface fairly often. Boat and propeller strikes can seriously injure or kill turtles.
                            Stay alert, stay in channels, avoid running over their habitat like seagrass beds, and slow
                            down if you see a sea turtle nearby.</li>
                        <li>Be the voice for the voiceless. We must take a stand for those who can’t do so for
                            themselves by spreading awareness and fighting for change. That’s why we created our Sea
                            Turtle Conservation Collection. With every wear, you’re spreading the message for sea
                            turtles and with every purchase we donate 10% of the proceeds to The Sea Turtle Conservancy.
                        </li>
                    </ol>
                </li>
                
                <li>
                    <p>Think sea turtles are boring? Think again! Read <a target="_blank" href="https://www.ecowatch.com/9-super-cool-facts-about-sea-turtles-1891175453.html">these amazing facts</a></p>
                    <ul>
                        <li>They think jellyfish are delicious.<br>Leatherbacks and hawkbill turtles feed on jellyfish
                            and keep their populations in check. Plastic looks like jellyfish when it’s floating in the
                            water and that’s why so many turtles die from ingesting plastic—they were going for a tasty
                            snack.</li>
                        <li>They’re the oceans’ lawnmowers!<br> Green sea turtles have a more plant-based diet and eat
                            seagrass. By keeping seagrass short, they prevent it from getting tall and harming other
                            marine creatures.</li>
                        <li>They cannot retract into their shell like other turtles. <br>Since they don’t have to
                            protect themselves from predators for most of their life on water, sea turtles cannot
                            retract their flippers and head into their shells. Their anatomy makes them more agile when
                            under the sea but highly vulnerable when nesting and hatching.</li>
                        <li>Temperature dictates the sex of baby turtles.<br> Warmer nests lead to more females and
                            cooler ones lead to more males—which is why climate change could drastically affect their
                            populations by creating too many females and too few males to match them for reproduction.
                        </li>
                        <li>They’ve been around for a very, very long time.<br>An estimated 110 million years is how
                            long sea turtles have existed on Earth, which means they once shared the planet with T-Rex
                            and other dinosaurs</li>
                        <li>They can hold their breath for five hours underwater.<br>To accomplish this mighty feat they
                            slow their heart rate to up to nine minutes in between heart beats in order to conserve
                            oxygen.</li>
                        <li>They live to about 100 years.<br>And that’s also roughly the amount of eggs they lay every
                            time they nest.</li>
                        <li>Dogs are not a sea turtle’s best friend.<br> Even though they’re marine animals, some of
                            their natural predators include dogs who dig up their eggs buried in the sand.</li>
                        <li>They have an excellent sense of direction.<br>Sea turtles can detect the Earth’s magnetic
                            field and they use it as a compass.<br></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}